<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<h1>Weibo-monitor @<%= user.name %></h1>
<ul>
    <% for(var i=0; i<status.length; i++) { %>
        <li>
            <a href='http://weibo.com/<%= status[i].user.id %>'>@<%= status[i].user.name %></a>:
            <%= status[i].text %>
        </li>
    <% } %>
</ul>
